# ignore all project files
projects/*
!projects/example

# parsing testing file
testing.py
# python cache folder
__pycache__
# venv variables
server/venv/pyvenv.cfg
# resourceFiles
server/static/files/*
