.sceneEditor {
    position: absolute;
    width: 1920px;
    height: 1080px;
    
    background: #a5a5a5;
}

.dialogueView {
    position:absolute;
    width: 1200px;
    height: 900px;
    margin: 40px;
    margin-top: 150px;
    overflow-y: scroll;
    background: #D0D0D0;
    border-radius: 11px;
}

.dialogueBoxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 33px;
    
    position: absolute;
    width: 798px;
    height: 1068.96px;
    left: 19px;
    top: 18px;
}

.dialogueBox {
    width: 1160px;
    height: 150px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #EDEDED;
    border-radius: 11px;
}

.dialogueBox h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    position: absolute;
    left: 3.38%;
    right: 4.01%;
    top: 0.2%;
    bottom: 96.33%;
}

.dialogueBox p {
    position: absolute;
    left: 3.38%;
    right: 4.01%;
    top: 3.50%;
    bottom: 87.63%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
}

.optionsBar {
    position: absolute;
    width: 1920px;
    height: 90px;
    left: 0px;
    top: 0px;
    background: #D0D0D0;
}

.dialogueOptions {
    position: absolute;
    width: 600px;
    height: 500px;
    right: 40px;
    bottom: 30px;
    overflow-y: scroll;
    background: #C4C4C4;
    border-radius: 11px;
}

.dialogueOptionBox {
    width: 560px;
    height: 150px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #EDEDED;
    border-radius: 11px;
}

.gamePreview {
    position: absolute;
    width: 600px;
    height: 350px;
    right: 40px;
    margin-top: 150px;
    overflow-y: scroll;
    background: #C4C4C4;
    border-radius: 11px;
}